* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;

    transition: background-image 0.5s ease-in-out;
    animation: gradientAnimation 5s infinite alternate;
    background-size: 400% 400%;

  }


  body:hover {
    background-image: linear-gradient(to right, #00ccff, #0099ff);
  }


  @keyframes gradientAnimation {
    0% {
      background-image: linear-gradient(to right, #ff6600, #ffcc00);
    }
  
    50% {
      background-image: linear-gradient(to right, #00ccff, #0099ff);
    }
  
    100% {
      background-image: linear-gradient(to right, #ff6600, #ffcc00);
    }
  }
  
  .forget_password {
    border: 2px solid black;
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
  }
  
  
  .forget_password h1 {
    color: black;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 10px;
  }
  
  .forget_password p {
    margin-top: 10px;
    font-size: larger;
    color: black;
  }
  
  #email {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
  }
  
  .submit_btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: medium;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .submit_btn:hover {
    background-color: chartreuse;
    color: red;
  }
  
  .back_link {
    display: block;
    margin-top: 15px;
    color: blue;
    text-decoration: none;
  }
  
  .back_link:hover {
    text-decoration: underline;
  }
  

  @media only screen and (max-width: 320px) {
    .forget_password {
      width: 95%;
      padding: 10px;

    }
    
    h1 {
      font-size: 1.3rem;
    }
    
    p, #email, .submit_btn, .back_link {
      font-size: 0.9rem;
    }
    
    .back_link {
      margin-top: 10px;
    }
  }
  